<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCMS-driverAssistantmain</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <section class="box">
        <div class="design">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        
        <div class="form">
            <h2>Hello Driver Assistant!</h2>
            <form action="/driverAssistantmain">
                <input type="submit" class="btn" value="VIEW UPCOMING TRIPS">
            </form>
            <form action="/driverAssistantmain/viewCompleted" method= "post">
                <input type="submit" class="btn" value= "VIEW COMPLETED TRIPS">
            </form>
                
            
        </div>
    </section>
</body>
</html>