<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="assets/confirmOrder.css">
   </head>
   <div class="container">
    
    <div class = "container">
<body>
  <div class="content-wrapper">
            
    <nav>
        <a href="/">Home</a>
        <a href="/managermain">Manager</a>
        <a href="/assignTrain">Assign Train</a>
    </nav>
    
</div>
  
  <div class="container">
       <h1 align="center">Assign Completed </h1></align>
            

    </div>
        
      
    </div>
  </div>

</body>
</html>