<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="assets/regstyle.css">
   </head>
<body>
  <div class="container">
    <div class="title">Create Trip</div>
    <div class="content">
      <form action="/create1" method="POST">
        <div class="user-details">
          
            
            <div class="input-box">
              <span class="details">Train name</span>
              <input type="text" name="train_name" placeholder="Train name" required>
            </div>
            <div class="input-box">
              <span class="details">Shedule date</span>
              <input type="text" name ='shedule_date' placeholder="Shedule date" required>
            </div>
                        
 
      <div class="button">
        <input type="submit" value="CREATE">
      </div>
        
      </form>
    </div>
  </div>

</body>
</html>

