<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>

    <section class="box">
        
        <div class="design">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        
        <div class="form">
            
            <form action="/storeManagerDetails">
                <input type="submit" class="btn" value="STORE MANAGER DETAILS">
            </form>
            
            <form action="/driverDetails">
                <input type="submit" class="btn" value= "DRIVER DETAILS">
            </form>
                
            <form action="/driverAssistantDetails">
                <input type="submit" class="btn" value="DRIVER ASSISTANT DETAILS">
            </form>
            
        </div>
    </section>
</body>
</html>