<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login system with nodejs and mysql database</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <section class="box">
        <div class="design">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        
        <div class="form">
            <h2>Hello Manager!</h2>
            <form action="/assigntrain">
                <input type="submit" class="btn" value="ASSIGN TRAIN">
            </form>
            
            <form action="/productDetails">
                <input type="submit" class="btn" value= "PRODUCT DETAILS">
            </form>
                
            <form action="/employee">
                <input type="submit" class="btn" value="EMPLOYEE DETAILS">
            </form>

            <form action="/traindetails">
                <input type="submit" class="btn" value="TRAIN DETAILS">
            </form> 
            
            <form action="/showtrip">
                <input type="submit" class="btn" value="SHOW TRIP">
            </form>

            <form action="/ReportsDashboard">
                <input type="submit" class="btn" value="SHOW REPORTS">
            </form>
                
            
        </div>
    </section>
</body>
</html>