<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="assets/regstyle.css">
   </head>
<body>
  <div class="container">
    <div class="title">Assign to Train</div>
    <div class="content">
      <form action="/finish" method="POST">
        <div class="user-details">
          
            <div class="input-box">
              <span class="details">Order ID</span>
              <input type="text" name="order_ID" placeholder="order ID" required>
            </div>
            <div class="input-box">
              <span class="details">Train Name</span>
              <input type="text" name="train_name" placeholder="train" required>
            </div>
                   
            <div class="button">
              <input type="submit" value="FINISH">
            </div>
        
      </form>
    </div>
  </div>

</body>
</html>
