<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login system with nodejs and mysql database</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <section class="box">
        <div class="design">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        
        <div class="form">
            <h2>Hello customer!</h2>
            <form action="/cart">
                <input type="submit" class="btn" value="SHOP NOW">
            </form>
            <form action="/unconfirmedOrders  ">
                <input type="submit" class="btn" value= "CONFIRM YOUR ORDERS ">
            </form>
                
            <form action="/orderhistory">
                <input type="submit" class="btn" value="VIEW ORDER HISTORY">
            </form>
                
                
            
            
        </div>
    </section>
</body>
</html>