<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="assets/success.css">
   </head>
<body>
 

  <div class="container">
    <header>
      <div class="content-wrapper">
          
          <nav>
              <a href="/">LOGOUT</a>
              
          </nav>
          
      </div>
  </header>
       <h1 align="center">Turn Creation successful! </h1></align>
            

    </div>
        
      
    </div>
  </div>

</body>
</html>