<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="assets/success.css">
   </head>
<body>
  <div class="container">
       <h1 align="center">Truck Assignment successful! </h1></align>
            

    </div>
        
      
    </div>
  </div>

</body>
</html>